.caua{
    background-color:rgba(4, 66, 9, 0.911);
    text-align: center
}
.pato{
    background-color: rgb(4, 66, 9, 0.911);
}
.dudama{
    width: 90px;
}
footer{
    background-color: rgba(4, 66, 9, 0.911);
}
h5{
    font-size: 20px;
}
h4{
    font-size: 20px;
}
h3{
    font-size: 20px;
}
.gato{
    display: inline-block;
    background-color:rgb(245, 245, 245);
    margin: 10px;
}
.copo{
    display: inline-block;
    background-color:white ;
    margin: 20px;
}
img{
    width: 50%;
}